@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
body{
    background-color: black;
}

.imagem{
    width: 50%;
    height: 50%;
    background-color: white;
    padding: 3px;
}
h1{
    text-transform: uppercase;
}
h1,p{
    color: white;
    font-family: "Libre Baskerville", serif;
}


.container{
    
    margin-top: 40px;
    text-align: center;
}